* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
}

.logo {
  color: #ee381c;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: calc(100% - 2rem);
  max-width: 1100px;
  margin-inline: auto;
}

.heroSection {
  background: #191919;
}

/* navugation */

header {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
}

header h1 {
  font-size: 1.8rem;
}

label {
  position: absolute;
  right: 1.2rem;
}

input {
  display: none;
}

input:checked ~ .navLinkBox {
  position: absolute;
  max-height: 300px;
  margin-top: 3.1rem;
  width: 100%;
  translate: -1rem;
  background: rgba(25, 25, 25, .98);
}

.toggleIcon {
  width: 32px;
  height: 32px;
}

.navLink {
  color: #fff;
  opacity: .7;
  font-weight: 400;
}

/* mobile style */
.navLinkBox {
  max-height: 0;
  overflow: hidden;
  z-index: 9;

}

.navLinkBox span {
  display: block;
  margin-bottom: 16px;
  padding-bottom: 5px;
  padding-left: 1rem;
  padding-top: 8px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.05);
}

.navLinkBox span:nth-child(6) {
  border: none;
}



/* 
responsive nav */


@keyframes navLinksAnimate {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes navBoxAnimate {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 300px;
  }
}


.navBtns span {
  margin-right: 12px;
}

.navBtns {
  display: flex;
  align-items: center;
  display: none;
}

.navBtn {
  transition: fill 250ms ease-in-out;  
}

.navBtns span:hover .navBtn {
  fill: #ee381c !important;
  cursor: pointer;
}

.navTalkBtn {
  background: #ee381c;
  border: none;
  padding: 8px 16px;
  font-weight: 600;
  color: #fff;
  font-family: sans-serif;
  font-size: 1rem;
  border-radius: 4px;
  margin-left: 16px;
  cursor: pointer;
  transition: background 250ms ease-in-out;
  height: 100%;
}

.navTalkBtn:hover {
  background: #fd3c1e;
}


@media (min-width: 850px) {
  .toggleIcon {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navLinkBox {
    position: absolute;
    max-height: fit-content;
    overflow: auto;
    width: fit-content;
    display: flex;
    transform: translateY(.5rem);
  left: 25%;
  }


  .navLinkBox span {
    margin-left: 18px;
  }
  .navLine {
    height: 2.7px;
    fill: #191919;
    margin-top: 3px;
    border-radius: 3px;
  }

  .navLink:hover .navLine{
    padding-bottom: 4px;
    background: #ee381c;
    animation: navLinksAnimate 300ms ease-in-out;
  }  

  .navLinkBox span {
    border: none;
  }

}

@media (min-width: 1020px) {
  .navBtns {
    display: block;

  }

}

/* Nav end */

.heroContent {
  text-align: center;
  color: #fff;
  padding-bottom: 6%;
}

.heroText {
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  margin-top: 6%;
  margin-bottom: 22px;
}

.heroContent p {
  font-size: 1rem;
  letter-spacing: 2;
  line-height: 1.5;
  width: 80%;
  margin-inline: auto;
  font-weight: 400;
  opacity: .7;
}

@media (min-width: 830px) {
  .heroContent p {
    width: 50%;
  }
}

.heroLearnMore {
  margin-top: 40px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.heroLearnMore span{
  color: #fff !important;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #e7e7e7;
  margin-bottom: 20px;
}

.topics > span {
  color: rgba(28, 28, 28, 0.72);
  margin-inline: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  margin-top: 16px;
  transition: color 230ms ease-in-out;
}

.topics > span:hover {
  color: #ee381c;
}

.topics :nth-child(1) {
  color: #ee381c;
  border-bottom: 1.5px dotted #ee381c;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
}

.sideBar {
  width: 100%;
}

.sectionTitle {
  font-size: clamp(1.2rem, 0.6vw + 1.088rem, 1.35rem);
  line-height: clamp(1.56rem, 1.32vw + 1.313rem, 1.89rem);

  color: rgba(28, 28, 28, 0.87);
}

.newsTitle {
  margin-top: 52px;
}

.postCard {
  padding: 0;
  display: flex;
  background: #fff;
  border-radius: 8px;
  box-shadow: 5px 10px 15px rgba(28, 28, 28, 0.1);
  margin-top: 12px;
}

.postImg {
  height: 100%;
  width: 110px;
  margin: 0;
  margin-right: 12px;
  border-radius: 8px 0 0 8px;
}

.postContent {
  padding: 16px 12px 16px 5px;
}

.postContent p {
  color: rgba(28, 28, 28, 0.8);
  font-size: clamp(0.813rem, 0.55vw + 0.709rem, 0.95rem);
  line-height: clamp(1.056rem, 1.095vw + 0.851rem, 1.33rem);
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

.postLink {
  display: flex;
  margin-top: 12px;
  cursor: pointer;
}

.postLink > span {
  margin-right: 12px;
  font-weight: 600;
  color: rgba(28, 28, 28, 1);
}

.postLink .arrow {
  transition: margin 300ms ease-in-out;
}

.postLink:hover .arrow {
  margin-left: 12px;
}

/* main blogs */

.mainBlogConatiner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

@media (max-width: 850px) {
  .mainContent {
    flex-direction: column-reverse;
  }

  .mainBlogConatiner {
    margin-bottom: 40px;
  }
}

.mainBlogCard {
  padding: 14px;
  background: #fff;
  border-radius: 8px;
  height: fit-content;
  box-shadow: 5px 10px 15px rgba(28, 28, 28, 0.1);
}

.mainBlogCard > img {
  height: 200px;
}

.catogeryText {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 14px;
  display: block;
  margin-bottom: 16px;
  color: rgba(28, 28, 28, 0.7);
}

.blogHeadding {
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: rgba(28, 28, 28, 0.9);
}

.blogText {
  color: rgba(28, 28, 28, 0.6);
  font-size: 0.91rem;
  line-height: 1.6;
  margin-top: 14px;
}

.blogDetails {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span .blogText {
  font-weight: 500;
  font-size: 0.9rem;
}

.blogDate,
.blogReadTime {
  transition: color 250ms ease-in-out;
  cursor: pointer;
}

.blogDate:hover,
.blogReadTime:hover {
  color: rgba(28, 28, 28, 0.8);
}

.blogIcon {
  display: flex;
  align-items: center;
}

.blogIcon svg {
  margin-inline-start: 6px;
  position: relative;
  fill: #282828;
}


@media (min-width: 360px) {
  .blogIcon svg {
    width: 22px;
    margin-inline-start: 10px;
  }
}

/* Toole tips */

.tooltipLike {
  /* position: relative;
  top: -28px;
  left: 40px; */
  color: rgba(28, 28, 28, 0.8);
  display: none;
  background: red;
}

.like {
  cursor: pointer;
}

.like:hover .tooltipLike {
  display: block;
}

/* responsive design */

@media (min-width: 850px) {
  .sideBar {
    max-width: 45%;
  }

  .mainBlogConatiner {
    max-width: 55%;
    padding: 12px;
  }
}

@media (min-width: 1000px) {
  .sideBar {
    max-width: 38%;
  }

  .mainBlogConatiner {
    max-width: 62%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) {
  .mainBlogConatiner {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* navigation btn */

.navigationBtn {
  display: flex;
}

.navigationBtn > span {
  display: block;
  padding: 1rem;
  margin: 10px;
  font-weight: 500;
  background: #fff;
  color: rgba(28, 28, 28, 1);
  cursor: pointer;
  transition: boxShadow 200ms ease-in;
}

.navigationBtn > span:hover {
  box-shadow: 5px 10px 15px rgba(28, 28, 28, 0.1);
}

.navigationBtn > span:nth-child(1) {
  background: rgba(28, 28, 28, 1);
  color: #fff;
}

/* footer */

footer {
  background: rgba(28, 28, 28, 1);
  margin-top: 50px;
  color: #d6d6d6;
}

footer > .container {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 40px;
}

footer > .container > div {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  text-align: center;
}

.footerHead {
  font-size: 1rem;
  font-weight: 500;
}

footer p {
  font-weight: 400;
  font-size: 0.9rem;
  opacity: 0.7;
  margin-top: 14px;
  line-height: 1.4;
  transition: color 240ms ease-in-out;
  cursor: pointer;
}

footer p:hover {
  color: #cd3018;
}

footer form {
  display: flex;
  flex-direction: column;
}



.email {
  height: 2.4rem;
  margin-top: 6px;
  margin-bottom: 12px;
  padding-left: 5px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  caret-color: #cd3018;
  border: none;
  outline: 1px solid #fff;
  display: block;
}

.emailText:hover {
  color: #fff;
  opacity: .7;
}

.email:focus {
  border: none;
  outline: 1px solid #cd3018;
}

.submit {
  display: inline-block;
  width: fit-content;
  padding: 12px 18px;
  background: #ee381c;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background 250ms ease-in-out;
}

.submit:hover {
  background: #d33118;
}

@media (min-width: 600px) {
  footer > .container {
    grid-template-columns: repeat(2, 1fr);
  }

  footer > .container > div {
    text-align: left;
    margin-left: 30%;
  }
}

@media (min-width: 900px) {
  footer > .container {
    grid-template-columns: repeat(3, 1fr);
  }

  footer > .container > div {
    margin-left: 0;
  }
}

@media (min-width: 1000px) {
  footer > .container {
    grid-template-columns: repeat(6, 1fr);
  }
}
